// Layout Home
// This will be the default layout of the Home page

// Section

// About
#About {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: green;

  &__col-1-2 {
    background-color: orange;
    min-width: 100%;
    min-height: 100%;
  }
  &__col-2-2 {
    background-color: rebeccapurple;
    min-width: 100%;
    min-height: 100%;
  }
}

// Experience
#Experience {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: red;
}

// Project
#Project {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: gray;
}
