//color palette

//primary color
$primary-color: #3c4b88;
$primary-color-light: #002cdb;
$primary-color-dark: #152e8f;

//secondary-color
$secondery-color: #7a7f91;
$secondery-color-light-1: #f1f1f1;
$secondery-color-light-2: #bfbfbf;

//teriary color

$teriary-color: #00ff33;

//neutral colors

$color-black: #0a0a0a;
$color-white: white;

$color-gray-light-1: #f7f7f7f7;
$color-gray-light-2: #eeeeee;
$color-gray-dark-1: #777;
$color-gray-dark-2: #999;

//font-size

$default-size: 1.6rem;
$header-sub-size: 2.4rem;

//padding

$default-padding: 4rem;

// Language Color

$htmlColor: #e96228;
$cssColor: #1c88c8;
$sassColor: #c76395;
$jsColor: #e8d44d;
$reactColor: #08d9ff;
